<p id="notice"><%= notice %></p>


<%= render 'contacts/box' %>

<div style="clear: left;">
<%= link_to 'Modifier', edit_contact_path(@contact) %> |
<%= link_to 'Retour au cabinet', cabinet_path(@contact.cabinet_id) %>
