// Place all the styles related to the testimonials controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.testimonials {
 blockquote {
 font: 1.2em/1.6em Georgia, "Times New Roman", Times, serif;width: 400px;
 background: url(images/close-quote.gif) no-repeat right bottom;
 padding-left: 18px;
 text-indent: -18px;
 color:red;
 }
 blockquote:first-letter {
 background: url(images/open-quote.gif) no-repeat left top;
 padding-left: 18px;
 font: italic 1.4em Georgia, "Times New Roman", Times, serif;
 }
}