<p id="notice"><%= notice %></p>


<%= render 'testimonials/box' %>

<div style="clear: left;">
<%= link_to 'Modifier', edit_testimonial_path(@testimonial) %> |
<%= link_to 'Retour au cabinet', cabinet_path(@testimonial.cabinet_id) %>

